div.container{
    width: 300px;
    margin: auto;
    height: 300px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(6,50px);
}

div.container div{
    border: 1px solid black;
}
.empty{
    background-color: red;
}
.block{
    background-color: black;
}

.personnage{
    background-color: green;
}

.carton{
    background-color: white;
}

.cible{
    background-color: darkblue;
}

.persoCible{
    background-color: aqua;
}
.cartonOk{
    background-color: chocolate;
}

